.jumbotron {
    background-image:url('../images/imageeeeeen.jpg');
    font-weight: bold;
    background-size: cover;
    color: black;
    margin-top: 50px;  
}
.btn {}

.footer {
    padding:10px 10px 0 10px;
    background-color:yellow;
    color:black;
    margin-bottom: 0px;
    margin-top: 10px;
}
.row footer{

    padding:50px 50px 0 50px;
    background-color:#0536C4;
    color: black;
    }
    
.card-hotel {
    flex: 1 200px;    
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    }

.footer-address-icon{
        padding-right: 10px;
    }