.jumbotron {
  background-image: url("../images/imageeeeeen.jpg");
  font-weight: bold;
  background-size: cover;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #b52c22;
  color: black;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row footer {
  padding: 50px 50px 0 50px;
  background-color: #b52c22;
  color: black;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
